<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="depth_estimator" pkg="kcy_sensor_fusion" type="depth_estimator.py" output="screen" respawn="false" />
    <node name="image2world" pkg="kcy_sensor_fusion" type="image2world.py" output="screen" respawn="false">
        <param name="marker_max" value="100"/>
    </node>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find kcy_sensor_fusion)/rviz/kcy.rviz" />
</launch>
